## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r"C:\Users\Montse\Desktop\Analysis Projects\World_Weather_Analysis\Weather_Database\WeatherPy_Database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Busselton,AU,-33.6500,115.3333,52.23,80,0,7.43,clear sky
1,1,Cap Malheureux,MU,-19.9842,57.6142,68.47,68,42,7.00,scattered clouds
2,2,Hithadhoo,MV,-0.6000,73.0833,82.67,73,6,6.06,clear sky
3,3,Bluff,NZ,-46.6000,168.3333,36.81,85,8,5.23,clear sky
4,4,Upernavik,GL,72.7868,-56.1549,41.59,78,99,6.64,overcast clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
2,2,Hithadhoo,MV,-0.6000,73.0833,82.67,73,6,6.06,clear sky
8,8,Alaca,TR,40.1683,34.8425,85.55,30,81,7.87,broken clouds
9,9,Ierapetra,GR,35.0100,25.7353,88.14,46,1,11.99,clear sky
12,12,Ako,JP,34.7500,134.4000,83.37,79,88,7.36,overcast clouds
14,14,Albany,US,42.6001,-73.9662,76.64,65,100,1.01,overcast clouds
18,18,Hilo,US,19.7297,-155.0900,82.27,95,100,3.44,light rain
20,20,Haimen,CN,23.1935,116.6142,80.80,83,96,5.95,overcast clouds
24,24,Khambhat,IN,22.3000,72.6167,82.00,85,100,21.47,overcast clouds
25,25,Hambantota,LK,6.1241,81.1185,81.45,74,64,22.66,broken clouds
30,30,Maunabo,PR,18.0072,-65.8993,85.69,78,99,11.72,overcast clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             299
City                   299
Country                298
Lat                    299
Lng                    299
Max Temp               299
Humidity               299
Cloudiness             299
Wind Speed             299
Weather Description    299
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

# There's no empty rows!

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Hithadhoo,MV,82.67,clear sky,-0.6000,73.0833,
8,Alaca,TR,85.55,broken clouds,40.1683,34.8425,
9,Ierapetra,GR,88.14,clear sky,35.0100,25.7353,
12,Ako,JP,83.37,overcast clouds,34.7500,134.4000,
14,Albany,US,76.64,overcast clouds,42.6001,-73.9662,
18,Hilo,US,82.27,light rain,19.7297,-155.0900,
20,Haimen,CN,80.80,overcast clouds,23.1935,116.6142,
24,Khambhat,IN,82.00,overcast clouds,22.3000,72.6167,
25,Hambantota,LK,81.45,broken clouds,6.1241,81.1185,
30,Maunabo,PR,85.69,overcast clouds,18.0072,-65.8993,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
     # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Hithadhoo,MV,82.67,clear sky,-0.6000,73.0833,Scoop Guest House
8,Alaca,TR,85.55,broken clouds,40.1683,34.8425,يلدز محلا
9,Ierapetra,GR,88.14,clear sky,35.0100,25.7353,Cretan Villa Hotel & Apartments in Ierapetra C...
12,Ako,JP,83.37,overcast clouds,34.7500,134.4000,Toyoko-Inn Banshu Ako ekimae
14,Albany,US,76.64,overcast clouds,42.6001,-73.9662,
18,Hilo,US,82.27,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
20,Haimen,CN,80.80,overcast clouds,23.1935,116.6142,Shantou Chaoyang Donghui Hotel
24,Khambhat,IN,82.00,overcast clouds,22.3000,72.6167,Anand
25,Hambantota,LK,81.45,broken clouds,6.1241,81.1185,Bungalow 63
30,Maunabo,PR,85.69,overcast clouds,18.0072,-65.8993,Parador Maunacaribe

In [14]:
# 7. Drop the rows where there is no Hotel Name.

# all rows have hotel names

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))